 
NAME=Muzan
SESSION=db.sqlite3
NUMBER=255610xxxxxx # Bot number
PREFIX=#

# MongoDB URI (Replace with your actual credentials)
URI=mongodb://127.0.0.1:27017/database
# Do not change it if your hosting in termux

# Bot Moderators (Comma-separated numbers)
MODS=255610274920
